extends layout

block form
    form#message.navbar-form.navbar-right(role='search')
       .form-group
         input#m.form-control(type='text', placeholder= placeholder)
         button.btn.btn-default(type='submit') #{submitText}
    form#nickName.navbar-form.navbar-right(role='search')
         .form-group
          input#nick.form-control(type='text', placeholder= nickPlaceholder)
          button.btn.btn-default(type='submit') #{submitNick}

block content
    script(src='/javascripts/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-1.11.1.js')
    script(src='http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.js')
    script(src='/javascripts/main.js')
    script#messageTmpl(type='text/x-jquery-tmpl')
        li.media
            .media-left
                a(href='#')
                    img.media-object(src='http://via.placeholder.com/64x64', alt='')
            .media-body
                h4.media-heading ${user}
                    span
                    |&nbsp;at ${GetDate(date)}
                | ${msg}
    div.row
        div.col-md-8
            h4 Messages
            ul.media-list#messages

        div.col-md-3
            h4 Users
            ul.list-group#users

